body{
    background-color: rgba(31, 89, 143, 0.288)
}

footer{
    position: fixed;
    bottom: 0;

}
#contact{
    float: right;
    font-family: 'Shadows Into Light Two', cursive;
}

h1{
  
    font-family: 'Shadows Into Light Two', cursive;
    
}
a {
    font-family: 'Merienda', cursive;
}
/*Styling for row and gallery taken from W3Schools*/
.row {
    margin: 8px -16px;

  }

.gallery{
    float:left;
    width: 25%;
    padding: 5px;
}
 
  .gallery:hover {
    border: 1px solid #777;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    padding: 15px;
    text-align: center;
  }

    
#port{
    text-align: center;
    color: rgba(31, 89, 143);
    font-family: 'Marck Script', cursive;  
    
}


.contact_section{
    font-family: 'Merienda', cursive;  
}

img{
    width:150px;
    height: auto;
    border-radius: 8px;
    display: flex;
}
.portfolio::after {
    content: "";
    clear: both;
    display: table;
  }
.column{
    float: left;
    width: auto;
  padding: 5px;
}